#footer {
	padding: 2rem;
	text-align: center;
	background: var(--black);
}

#footer p {
	color: var(--grey-color);
	font-size: 13px;
	margin-bottom: 10px;
}

#footer a {
	text-decoration: none;
	color: var(--secondary-color);
}

#footer a:hover {
	text-decoration: underline;
}